<!DOCTYPE html>
<html ng-app="mangiamo">
	<head>
		<title>Mangiamo</title>

		<!-- Standard Meta Information -->
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
		<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</head>

	<body>
		<div>
			<a href="http://localhost:3000/#home">Home</a>
			<a href="http://localhost:3000/#aboutus">About Us</a>
			<a href="http://localhost:3000/#contactus">Contact Us</a>
		</div>
		<div ui-view=""></div>
	</body>
</html>