<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fcT0CmaK1LIRzGpis-y2moQSp10ajNM&v=3.exp&libraries=places"></script>
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js" type="text/javascript"></script>  
	<script type="text/javascript" src="/js/map.js"></script>	
  </head>
  
  <body>
	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>
  </body>
</html>