<!DOCTYPE html>
<html ng-app="mangiamo">
	<head>
		<title>Mangiamo</title>

		<!-- Standard Meta Information -->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<!-- AngularJS -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
		<script type="text/javascript" src="js/angular-ui-router.min.js"></script>

		<!-- Custom JS files -->
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/index-controller.js"></script>
		<script type="text/javascript" src="/js/controllers/login-controller.js"></script>
		<script type="text/javascript" src="/js/controllers/main-controller.js"></script>
		<script type="text/javascript" src="/js/services/userService.js"></script>
		<script type="text/javascript" src="/js/services/mealService.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link rel="stylesheet" type='text/css' href="/css/login.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Kaushan+Script'>
		<link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Google Sign-In API -->
		<meta name="google-signin-clientid" content="531132549575-uki7bfheg6kjssjt3hbu4tlug3d0lbal.apps.googleusercontent.com" />
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
		<meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
		<meta name="google-signin-cookiepolicy" content="single_host_origin" />
		<meta name="google-signin-callback" content="signinCallback" />

		<!-- Google Map API -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-fcT0CmaK1LIRzGpis-y2moQSp10ajNM&v=3.exp&libraries=places"></script>
		<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js" ></script>  

	</head>

	<body>
		<!-- This span allows index-controller.js to execute, which redirects based on user login status -->
		<div ng-controller="indexController"> 
			<a href="http://localhost:3000/#/login">login</a>
			<a href="http://localhost:3000/#/main">main</a>
			<a href="#" ng-click="logout()">logout</a>
		</div>
		<div ui-view=""></div>
	</body>
</html>