<div>
	
	<section id="whiteBlock" data-type="background">
		<!-- START ROW 1 -->
		<!-- Formatting Div ; Adds left-side padding -->
		<div class="col-xs-0 col-sm-5">
			<div class="hidden-xs col-sm-2 col-md-3 col-lg-4">
			</div>
			<div class="hidden-xs col-sm-10 col-md-9 col-lg-8">
				<img src="img/logo_final.png" id="logoImage">
			</div>
			<div class="hidden-xs col-sm-0">
			</div>
		</div>
		<!-- App description -->
		<div class="col-xs-12 col-sm-6">
		</div>
		<div class="col-xs-12 col-sm-7 col-md-6">
			<div id="appDescription">
				Expand your network by connecting with people who are looking to share a meal.
				<ul id="appDescriptionList" class="hidden-xs">
					<li> 
						Where are <em>you</em> grabbing lunch today? Tell the Linksupp community by marking it on the map.
					</li>
					<li> 
						Meet someone new! Join a meal time that someone else has already created and meet them there!
					</li>
					<li>
						Add new friends (and import your Facebook friends) so you can see where they are planning on going for lunch - and then join them!
					</li>
				</ul>
			</div>
			<br>
		</div>
		<!-- Formatting Div ; Adds right-side padding -->
		<div class="col-xs-0 col-sm-0 col-md-1">
		</div>
		<!-- END ROW 1 -->

		<!-- START ROW 2 -->
		<!-- Formatting Div ; Adds left-side padding -->
		<div class="col-xs-0 col-sm-5">
		</div>
		<!-- Main Login Content -->
		<div class="col-xs-12 col-sm-7 col-md-6">
			<!-- Try It Out! -->
			<div id="startEating">
				<button ng-click="tryApp()" type="submit" class="btn btn-primary">
					<h4> Explore linksupp <span class="underlined"> without an account! </span></h4>
				</button>
			</div>
		</div>
		<!-- Formatting Div ; Adds right-side padding -->
		<div class="col-xs-0 col-sm-0 col-md-1">
		</div>
		<!-- END ROW 2 -->
	</section>

	<section id="loginFooterSection" data-type="background">
		<div id="footerFiller">
		</div>
	</section>
</div>
