<div ng-controller="loginController">

	<!-- Custom JS files -->
	<script type="text/javascript" src="/js/facebookLogin.js"></script>
	<script type="text/javascript" src="/js/googleLogin.js"></script>

	<!-- Google Sign-In API -->
	<meta name="google-signin-clientid" content="531132549575-uki7bfheg6kjssjt3hbu4tlug3d0lbal.apps.googleusercontent.com" />
	<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
	<meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
	<meta name="google-signin-cookiepolicy" content="single_host_origin" />
	<meta name="google-signin-callback" content="signinCallback" />

	<!-- Bootstrap NavBar -->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="col-xs-1">
		</div>
		<div class="container-fluid col-xs-10">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Mangiamo</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Main</a></li>
					<li><a href="#">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Log In or Sign Up</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	

	<div class="col-xs-0 col-sm-3">
	</div>

	<div class="col-xs-12 col-sm-6">
		<p id="appDescription">
			Mangiamo lets you expand your network by connecting you with people who are looking to share a meal.
		</p>
	</div>

	<div class="col-xs-0 col-sm-4">
	</div>

	<div class="col-xs-12 col-sm-4">
		<div id="inputContainer">
				<!-- Splash screen with "Start Eating" button -->
			<div id="startEating" class="ng-hide" ng-hide="hideStartEating">
				<button ng-click="switchDivs()" type="submit"> Testing </button>
			</div>
			<!-- Request user information -->
			<div id="userInfo" class="ng-hide" ng-hide="hideUserInfo">
				<form ng-submit="submitUserData()" >
					<div id="dob">
						<select ng-model="month" id="testing">
							<option value="" disabled selected> Birth Month </option>
							<option value="January">January</option>
							<option value="Febuary">Febuary</option>
							<option value="March">March</option>
							<option value="April">April</option>
							<option value="May">May</option>
							<option value="June">June</option>
							<option value="July">July</option>
							<option value="August">August</option>
							<option value="September">September</option>
							<option value="October">October</option>
							<option value="November">November</option>
							<option value="December">December</option>
						</select>
						&nbsp;
						<select ng-model="day">
							<option value="" disabled selected> Birth Day </option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
						&nbsp;
						<select ng-model="year">
							<option> - Year - </option>
							<option value="" disabled selected> Birth Year </option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
							<option value="1984">1984</option>
							<option value="1983">1983</option>
							<option value="1982">1982</option>
							<option value="1981">1981</option>
							<option value="1980">1980</option>
							<option value="1979">1979</option>
							<option value="1978">1978</option>
							<option value="1977">1977</option>
							<option value="1976">1976</option>
							<option value="1975">1975</option>
							<option value="1974">1974</option>
							<option value="1973">1973</option>
							<option value="1972">1972</option>
							<option value="1971">1971</option>
							<option value="1970">1970</option>
							<option value="1969">1969</option>
							<option value="1968">1968</option>
							<option value="1967">1967</option>
							<option value="1966">1966</option>
							<option value="1965">1965</option>
							<option value="1964">1964</option>
							<option value="1963">1963</option>
							<option value="1962">1962</option>
							<option value="1961">1961</option>
							<option value="1960">1960</option>
							<option value="1959">1959</option>
							<option value="1958">1958</option>
							<option value="1957">1957</option>
							<option value="1956">1956</option>
							<option value="1955">1955</option>
							<option value="1954">1954</option>
							<option value="1953">1953</option>
							<option value="1952">1952</option>
							<option value="1951">1951</option>
							<option value="1950">1950</option>
							<option value="1949">1949</option>
							<option value="1948">1948</option>
							<option value="1947">1947</option>	
						</select>
					</div>
					<div id="occupation">
						<select ng-model="occupation">
							<option value="" disabled selected> Occupation </option>
							<option> Airport </option>
							<option> Arts/Entertainment/Nightlife </option>
							<option> Attractions/Things to Do </option>
							<option> Automotive </option>
							<option> Bank/Financial Services </option>
							<option> Bar </option>
							<option> Book Store </option>
							<option> Business Services </option>
							<option> Church/Religious Organization </option>
							<option> Club </option>
							<option> Community/Government </option>
							<option> Concert Venue </option>
							<option> Doctor </option>
							<option> Education </option>
							<option> Event Planning/Event Services </option>
							<option> Food/Grocery </option>
							<option> Health/Medical/Pharmacy </option>
							<option> Hospital/Clinic </option>
							<option> Hotel </option>
							<option> Landmark </option>
							<option> Lawyer </option>
							<option> Library </option>
							<option> Local Business </option>
							<option> Movie Theatre </option>
							<option> Musem/Art Gallery </option>
							<option> Outdoor Gear/Sporting Goods </option>
							<option> Pet Services </option>
							<option> Professional Services </option>
							<option> Public Places </option>
							<option> Real Estate </option>
							<option> Restaurant/Cafe </option>
							<option> Spas/Beauty/Personal Care </option>
							<option> Sports Venue </option>
							<option> Sports/Recreation/Activities </option>
							<option> Student </option>
							<option> Tours/Sightseeing </option>
							<option> Transportation </option>
							<option> University </option>
						</select>
					</div>
					<div id="description">
						<select ng-model="description">
							<option value="" disabled selected> "Me" Factor </option>
							<option> option 1 </option>
							<option> option 2 </option>
						</select>
					</div>
					<p ng-repeat="dob in dates"> {{dob}}</p>	
					<button type="submit"> Submit </button>		
					<span>{{isUserLoggedIn()}}</span>
				</form>
				<div id="authentication">
					<div id="googleLogin">
						<img src="../img/sign_in_with_google.png" onmouseover="" style="cursor: pointer;"></img>
					</div>
					<div id="fb-root">
						<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="large">
							Login with Facebook
						</fb:login-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>