<div ng-controller="mainController" ng-init="initialize()">
	<!-- Map -->
	<div id="mealBuddiesContainer" class="col-lg-3">
		<div>
			<div class="mealBuddy" ng-repeat="mealBuddy in mealBuddies">
				{{mealBuddy.name}}
				{{mealBuddy.age}}
			</div>
		</div>
	</div>
	<div id="mapContainer" class="col-lg-9">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id="mapCanvas"></div>
	</div>

	<!-- The content for inside a modal when it pops up -->
	<script type="text/ng-template" id="modalContent.html">
		<div class="modal-header">
			<h1>{{ placeName }}</h1>
		</div>
		<div class="modal-body">
            <ul>
                <li ng-repeat="user in users">
                    Birth Year: {{ user.birthDate.substring(0,4) }} | Profession: {{user.profession }} | Me-Factor: {{ user.description }}
                </li>
            </ul>
            
            <div>
            	<button class="btn btn-primary btn-large" ng-click="join()">{{hasMeal}}</button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
	</script>

</div>