<div ng-controller="mainController" ng-init="initialize()">
	<!-- Friends Bar -->
	<div id="mealBuddiesContainer" class="col-sm-2" ng-hide="hideMealBuddies">
		<span class="text"> Your ID is: {{UID}} </span>
		<form>
			<input type="text" ng-model="newMealBuddy">
			<button ng-click="addFriend(newMealBuddy)"> Click to add a Friend! </button>
		</form>

		<p class="text"> CURRENT FRIENDS </p>
		<div class="mealBuddy" ng-repeat="mealBuddy in mealBuddies">
			{{mealBuddy[0].name}}
			<button class="mealBuddyButton" ng-click="removeMealBuddy(mealBuddy, false)"> Remove </button>
		</div>

		 <p class="text"> FRIEND REQUESTS </p>
		<div class="mealBuddy" ng-repeat="mealBuddyRequest in mealBuddyRequests">
			{{mealBuddyRequest[0].name}}
			<button class="mealBuddyButton" ng-click="removeMealBuddy(mealBuddyRequest, true)"> Decline </button>
			<button class="mealBuddyButton" ng-click="confirmMealBuddy(mealBuddyRequest)"> Accept </button>
		</div>
	</div>

	<!-- Meal Information -->
	<div id="mealInformationContainer" class="col-sm-2">
		<div>
			
		</div>
		<!-- New Meal -->
		<div id="newMeal" ng-show="newMeal">
			<form ng-init="initMealForm()" ng-submit="submitMealData()">
				<select ng-model="mealTimeHour">
					<option value="" disabled selected> Hour </option>
					<option ng-repeat="mealTimeHour in mealTimeHours"> {{mealTimeHour.twentyFour}} </option>
				</select>
				<select ng-model="mealTimeMinute">
					<option value="" disabled selected> Minute </option>
					<option ng-repeat="mealTimeMinute in mealTimeMinutes"> {{mealTimeMinute.value}} </option>
				</select>
				<button type="submit" id="submitButton" class="btn btn-primary btn-block col-xs-6"> Create Meal </button>
			</form>
		</div>
	</div>

	<!-- Map -->
	<div id="mapContainer" ng-class="mapClass">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div id="mapCanvas"></div>
	</div>
</div>