html
{

}

body 
{
	background-image: url("/img/van_background.jpg");
    background-repeat: no-repeat;
}

#appDescription
{
	text-align: center;
	font-size: 1.4em;
	padding: 30px;
	color: white;
}

.navbar-brand 
{
	font-family: 'Kaushan Script', cursive;
	color: white;
}