html
{
	height: 100%;
	width: 100%;
}

body 
{
	height: 100%;
	width: 100%;
}

.background2
{
	position: absolute;
	height: 100vh;
	width: 100vw;
    background-color: #091C29;
}

/* USER CONTACT FORM */
#contactModal .modal-content
{
	padding: 20px;
}
/* USER CONTACT FORM END */

/* USER INFORMATION MODAL */
#userInformationModal .modal-content
{
	padding: 20px;
}

#userInfo
{
	padding: 20px 20px 43px 20px;
	background-color: rgba(47, 95, 127, .1);
	border-radius: 5px;
}

.extraInfo
{
	padding: 20px;
	font-style: italic;
}

#userInfo > span
{
	font-size: 1.2em;
	padding-left: 5px;
	color: black;
}

#userInfo > div > div > select
{
	width: 100%;
	padding: 2px;
	margin: 0px 0px 5px 0px;
}
/* USER INFORMATION MODAL END */

/* USER FEEDBACK MODAL */
#errorModal .modal-content
{
	padding: 20px;
}

.modal-dialog
{
	margin-top: 100px;
	text-align: center;
}
/* USER FEEDBACK MODAL END */

.glyphicon-remove
{
	color: darkgrey;
}

#navbarLogoImage
{
	width: auto;
	height: 100%;
}

.navbar-brand 
{
	font-family: 'PT Sans', sans-serif;
	color: white;
}

.navbar-default {
	/*background-color: #242451;*/
	background-color: #2F5F7F;
	border-color: #204060;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	/*background-color: #434470;*/
	background-color: #305070;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	/*background-color: #434470;*/
	background-color: #305070;
}
.navbar-default .navbar-toggle {
	/*border-color: #434470;*/
	border-color: #204060;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	/*background-color: #434470;*/
	background-color: #305070;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
	/*border-color: #204060;*/
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
	background-color: #2F5F7F;
	border-color: #204060;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		/*background-color: #434470;*/
		background-color: #2F5F7F;
	}
}