#inputContainer
{
	-webkit-transition:all linear 0.5s;
	transition:all linear 2s;
	position: relative;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	border-radius: 5px;
	margin-top: 10%;
	opacity: 1;
}

#inputContainer.ng-hide
{
	opacity: 0;
}

#startEating
{
	-webkit-transition:all linear 0.5s;
	transition:all linear 2s;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	opacity: 1;
}

/* Does not work yet...  ANIMATIONS!!! */
#startEating.ng-hide
{
	opacity: 0;
}

#startEating > button
{
	background-color: #242451;
	border-color: #434470;
}

#userInfo > form > div > div > select
{
	width: 100%;
	padding: 2px;
	margin: 0px 0px 5px 0px;
}

#userInfo > form > span
{
	color: white;
	font-size: 1.2em;
	padding-left: 5px;
}

#submitButton
{
	margin-top: 15px;
	float: none;
}
