#tagline
{
	margin-top: 40px;
	color: #2F5F7F;
	font-size: 16px;
}

#loginPageDiv
{
	height: 100%;
	width: 100%;
}

.footer 
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #091C29;
}

.footerFiller
{
	width: auto;
	max-width: 680px;
	padding: 0 15px;
	margin-right: auto;
	margin-left: auto;
}

.footerText
{
	margin: 20px;
	color: #2F5F7F;
}

#logoImage
{
	width: 100%;
	height: auto;
	margin: 120px 0 0 0;
	max-width: 307px;
}

#appDescription
{
	text-align: center;
	font-size: 1.4em;
	padding: 0 20px 0 20px;
	margin-top: 5em;
	color: #2F5F7F;
}

#appDescriptionList
{
	font-size: 1em;
	padding: 30px 30px 0px 30px;
	text-align: justify;
}
#appDescriptionList > div > div
{
	text-align: center;
}
#appDescriptionList > div > div > strong
{
	font-size: 26px;
}
#appDescriptionList .col-xs-5
{
	padding: 0;
}
#appDescriptionList .col-xs-2
{
	padding-top: 20px;
	text-align: center;
}

.describeSub
{
	font-size: 16px;
	padding: 2px 10px 10px 0px;

}

#authentication
{
	border-radius: 5px;
	margin-top: 5.5em;
	text-align: center;
}

#authentication > #fb-root
{
	text-align: center;
}

#startEating
{
	text-align: center;
	opacity: 1;
}

#startEating > button
{
	background-color: #2F5F7F;
	border-color: #204060;
	box-shadow: 0px 2px 2px rgba(0,0,0, .85);
}

#startEating>button:hover, #startEating>button:focus
{
	background-color: #204060;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 2px rgba(0,0,0, .75);
	box-shadow: 0 2px 2px rgba(0,0,0, .85);
}

#submitButton
{
	margin-top: 20px;
	float: none;
}

.underlined
{
	text-decoration: 
}
