html{
	height: 100%
}

body{
	min-height: 100%;
	/*text-align: center;*/
	background-image: url("/img/van_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
}
