/* SIDEBAR */
#sidebarContainer
{
	position: absolute;
	background-color: #FAFAEE;
	height: 100vh;
	/* First 51px on the top is for the navbar */
	padding: 51px 10px 0px 10px;

	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 0px 1px rgba(0,0,0,0.5);

	overflow-y: auto;
}

#closeSidebar
{
	width: 100%;
	padding: 10px 10px 0 10px;
}

#sidebarContentHeader
{
	color: #2F5F7F;
	font-size: 1.6em;
	padding: 20px;
	text-align: center;
}

	/* INTRO */
	#introContainer
	{
		/*text-align: center;*/
		font-family: "Roboto", sans-serif;
		color: #2F5F7F;
		padding-top: 25px;
	}

		#introContainer > hr ~ div
		{
			padding: 0px 20px 20px 20px;
		}

	/* INTRO END */

	/* LINKS */
	#linksContainer
	{
		text-align: center;
		padding-top: 25px;
	}
	/* LINKS END */

	/* MEALS */
	#mealsContainer
	{
		padding-top: 25px;
	}


	/* MEALS END */
/* SIDEBAR END */



/* EVERYTHING BELOW THIS COMMENT NEEDS TO BE CATEGORIZED AND VALIDATED AS VALID AND NECESSARY CODE */

hr
{
	border-color: #2F5F7F;
}

.linkHeader
{
	color: #2F5F7F;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 1.2em;
}

/*.mealAttendee > span
{
	font-weight: bold;
}*/

#mapCanvas
{
	height: 100%;
	position: relative;
}

.scroll
{
	overflow-y:auto
}

/* MEAL BUDDIES */
.mealBuddyButton
{
	float: right;
}

#addANewFriend
{
	color: rgba(47, 95, 127, 1);
	text-align: center;
}

.mealAttendee
{
	background-color: rgba(47, 95, 127, .1);
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.mealAttendeeSelf
{
	background-color: rgba(47, 95, 127, .3);
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.attendeeIdentifer
{
	text-align: center;
	font-size: 0.8em;
}

#mealsHeader
{
	color: #2F5F7F;
	padding: 0 15px 5px 13px;
	text-align: center;
}

#mealInfoHeader
{
	width: 100%;
}

#mealInfoHeader > div
{
	position: absolute;
	width: 90%;
	text-align: center;
}
/* END FRIENDS */

/* MEAL INFORMATION START */
#mealPlace
{
	padding: 0px 0 60px 0;
}

#friendAdder
{
	margin-top: 5px;
}

#mealTime
{
	color: white;
}

#mealTimePicker
{
	margin-left: auto;
	margin-right: auto;
}

.accordionInfo
{
	text-align: left;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .5);
	box-shadow: 0 1px 1px rgba(0,0,0, .5);
}

.meal
{
	padding-bottom: 10px;
}

#timeTicker
{
	text-align: center;
}

.button
{
	background-color: #2F5F7F;
	color: white;
}
/* MEAL INFORMATION END */

/* CREATE MEAL START */

/* CREATE MEAL END */

.sidebarTitle
{
	color: #2F5F7F;
	text-align: center;
	font-size: 1.8em;
	font-family: "Roboto", sans-serif;
}

#mapContainer
{
	/*transition:all linear 0.5s;*/
	height: 100vh;
	position: relative;
	padding: 51px 0px 0px 0px;
}

.controls 
{	
	text-align: center
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input 
{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 360px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus 
{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container 
{
	font-family: Roboto;
}

#type-selector 
{
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label 
{
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.labels 
{
	color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 11px;
	text-align: center;
	width: 15px;     
	white-space: nowrap;
}
