.text
{
	color: #2F5F7F;
	text-align: center;
	font-family: "Roboto", sans-serif;
	padding: 20px 0 10px 0;
	font-size: 1.2em;
}

#mapCanvas
{
	height: 100%;
	position: relative;
}

.scroll
{
	overflow-y:auto
}


/* MEAL BUDDIES */
#mealBuddiesContainer
{
	/*transition:all linear 0.5s;*/
	/*background-color: rgba(187,187,187, 0.95);*/
	background-color: #CCCCCC;
	height: 100vh;
	padding: 51px 0px 0px 0px;
	overflow-y: auto;
	opacity: 1;
	position: absolute;
	text-align: center;
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 0px 1px rgba(0,0,0, .5);
	box-shadow: 1px 0px 1px rgba(0,0,0, .5);
}
#mealBuddiesContainer.ng-hide
{
	opacity: 0;
	width: 0px;
}

.mealBuddyButton
{
	float: right;
}

.mealBuddy
{
	background-color: #eaeaea;
	margin: 20px;
	border-radius: 5px;
	padding: 5px;
}

.mealAttendee
{
	text-align: center;
}

#mealsHeader
{
	color: #2F5F7F;
	padding: 0 15px 5px 13px;
	text-align: center;
}

#mealInfoHeader
{
	width: 100%;
}

#mealInfoHeader > div
{
	position: absolute;
	width: 90%;
	text-align: center;
}

#createMealHeader
{
	text-align: center;
}
/* END FRIENDS */

/* MEAL INFORMATION START */
#mealPlace
{
	background-color: #CCCCCC;
	padding: 0px 0 60px 0;
}

#friendAdder
{
	margin-top: 5px;
}

#mealTime
{
	color: white;
}

#mealTimePicker
{
	margin-left: auto;
	margin-right: auto;
}

.listedMeal
{
	text-align: left;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .5);
	box-shadow: 0 1px 1px rgba(0,0,0, .5);
}

#mealInformationContainer
{
	height: 100vh;
	position: absolute;
	padding: 51px 10px 0px 10px;
	overflow-y: auto;
	background-color: #CCCCCC;
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 0px 1px rgba(0,0,0, .5);
	box-shadow: 1px 0px 1px rgba(0,0,0, .5);
}

.meal
{
	padding-bottom: 10px;
}

#timeTicker
{
	text-align: center;
}

.button
{
	background-color: #2F5F7F;
	color: white;
}
/* MEAL INFORMATION END */

/* CREATE MEAL START */

/* CREATE MEAL END */

.sidebarTitle
{
	color: #2F5F7F;
	text-align: center;
	font-size: 1.8em;
	font-family: "Roboto", sans-serif;
}

#mapContainer
{
	/*transition:all linear 0.5s;*/
	height: 100vh;
	position: relative;
	padding: 51px 0px 0px 0px;
}

.controls 
{	
	text-align: center
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input 
{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 360px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#pac-input:focus 
{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

.pac-container 
{
	font-family: Roboto;
}

#type-selector 
{
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label 
{
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

.labels 
{
	color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 11px;
	text-align: center;
	width: 15px;     
	white-space: nowrap;
}

#userInstructions
{
	text-align: center;
	padding: 1em;
	font-family: "Roboto", sans-serif;
	color: #2F5F7F;
}

#mealinfo-exit
{
	text-align: right;
	position: relative;
	padding: 1em;
}