html
{
/*	background: linear-gradient(#A62000, #FF3100);  Standard syntax 
	min-height: 100%;
	height: auto;*/
}

/*#loginStartEating
{
	position: absolute;
	height: 200px;
	width: 200px;

	border-radius: 50%;
	background-color: #37DB79;

}*/